<div id="<%= dom_id score %>">
  <p>
    <strong>Math:</strong>
    <%= score.math %>
  </p>

  <p>
    <strong>English:</strong>
    <%= score.english %>
  </p>

  <p>
    <strong>Chinese:</strong>
    <%= score.chinese %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= score.student_id %>
  </p>

</div>
